#main-header.container {
    color: white;  
    text-align: center;
    padding: 25px 50px 50px 50px;
}
#main-section {
    background: white;
    color: black;
}
#instructions-pane {
    padding-bottom: 25px;
}
#target-score {
    background-color: white;
    height: 100px;
}
#stats-target-score{
    padding-bottom: 25px;
}
#stats {
    background-color: white;
}
#crystal-images {
    padding-bottom: 25px;
}
#score {
    background-color: white;
    color: green;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body {
    background-image: url("../images/crystal-background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 980px) {
    body {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 640px) {
    body {
        width: 100%;
        height: auto;
    }
}